@import 'variables';

input[type="text"], select{
    box-shadow: none !important;
}

input[type="text"]:focus, select.form-control:focus{
    border-color: $primary-color;
}

.button-primary{
    color: $base-white;
    background: $primary-color;
    border-radius: 3px !important;
    border: 0px;
    font-weight: 500;
    font-size: 16px;
    &:hover{
        color: $base-white;
        background: darken( $primary-color, 10% );
        border: 0px;
    }
}


.form-group input, .form-group select, .input-height{
    height: 40px;
}

.form-group input.form-control.border-modifier{
    border-left: 0;
    border-right: 0;
}

label{
    font-weight: 400;
}