@import 'variables';

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #222;
    background: transparent;
}

.nav>li>a.account{
    padding: 5px 10px;
    text-align: center;
}

.nav-pills{
    margin-top: 3px;
}

.nav>li>a{
    padding: 10px 20px;
}

.nav-pills>li>a:hover{
    background: transparent;
    color: $primary-color; 
}