//font family
$font-stack: 'Open Sans', sans-serif;

//colors
$primary-color: #4cac87;
$secondary-color: rgb(255, 108, 0);
$base-color: #7a7e7f;
$base-white: #f5f5f5;
$white: #fff;
$danger-color:  #E44234;

