.hero-banner{
    background: url('http://ex.theasia.com/en/item_images/zoom1/1304.jpg'); 
    width: 100%;
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 500px;
    background-size: cover;
}